

/* Feature Section Styles */
.feat-section {
  display: flex;
  flex-direction: column; /* Stack vertically on smaller screens */
  align-items: center; /* Center-align items for small screens */
  text-align: center; /* Center-align text for small screens */
  height: 60vh;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;

}



.fea-image {

  width:600px;
  height: auto;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  display: block;
  border-radius: 50px;

}

.read-mor {
  display: inline-block; /* Make the read more button inline for center alignment */
  cursor: pointer;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  margin-top: 1vh; /* Space above the read more button */

}

.read-mor:hover {
  background-color: #333; /* Darker shade on hover for visual feedback */
}


/* Media Query for Larger Screens */
@media (min-width: 1200px) {
  .feat-section {
    flex-direction: row; /* Lay out horizontally for larger screens */
    align-items: flex-start; /* Align items to the start of the flex container */
    text-align: left; /* Align text to the left for larger screens */
    justify-content: left; /* Center the content within the container */
    margin-left: 15vh;
    margin-right: 15vh;
    height: 55vh;
  }

  .feat-title h4, .feat-title h2, .feat-content p {
    margin: 10px 0; /* Add some vertical spacing */
    text-align: left; 
  }

  .fea-image, .feat-content {
    flex: 1; /* Each take up equal space */
  }
  .feat-content {
    margin: 0 20px; /* Add some space between the image and the content */
  }


  .fea-image {
    margin-right: 20px; /* Add some space between the image and the content */
  }
}

@media (min-width: 1000px) {
  .feat-section {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}


/*////////////////////////////////////////////*/







/*////////////////////////////////////////////*/
/* Footer.css */
.footer-sections {
  background-color: #333333;
  color: #CDCBC0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arimo Hebrew Subset', sans-serif;
  margin-top: 20vh;
  width: 100%;
}


.social-media {
  display: flex;
  justify-content: center; /* Center the social media icons */
  align-items: center;
  gap: 10px;
  margin-top: 1vh;
  padding: 1vh;
  width: 100%; /* Ensure it takes full width */
  font-size: 2vh;
}

.social-link {
  color: #CDCBC0;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #ffffff;
}


.footer-copyright {
  text-align: center;
  font-size: 0.875rem;
  width: 100%; /* Ensure it spans the full width */
  order: 3; /* Keep it at the bottom */
}



.payment-methods {
  display: flex;
  justify-content: center; /* Center the payment method icons */
  align-items: center;
  gap: 10px;
  margin-top: 1vh;
  padding: 1vh;
  width: 100%; /* Ensure it takes full width */
  font-size: 3vh;

}

.payment-link {
  color: #CDCBC0; /* Match your existing styling */
  transition: color 0.3s ease;
}

.payment-link:hover {
  color: #ffffff; /* Match your existing hover effect */
}



/* Footer Quote Section */

.footer-quote {
  display: flex;
  background-color: #f0f0f0; /* Light grey background */
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  bottom: 0;
  width: 100%;
  height: 30vh;
}

.quote-text {
  font-style: italic;
  color: #333; /* Dark grey text */
  margin: 0;
  font-size: 16px;
  margin-left: 15vh;
  margin-right: 15vh;
}

.quote-author {
  color: #666; /* Lighter grey for the author */
  margin-top: 10px;
  font-size: 14px;
}


