.productShowcaseSlider{
   display: block;
   padding: 10%;
   padding-bottom: 0%;
   margin-left: 2%;
}

.slider{
    margin-bottom: 5%;
}

@media(max-width: 1500px){
    .productShowcaseSlider{
        margin-left: 8%;
    }
}


  
  