.welcome-section {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Black background with 50% opacity */
    z-index: 2; /* Ensure it's above the video but below the content */
}


.welcome-section-video {
    width: auto;
    /* Adjust for larger screens */
    height: 100vh;

    display: inline;

    /* Adjust if necessary */
    object-fit: cover;
    display: block;

    

}

.content {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black; /* Choose a color that contrasts well with your video */
  }
  
  .content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;

  }
  
  .content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: black;
  }
  

/* Example Media Query for screens wider than 1024px */
@media (max-width: 800px) {

    .welcome-section-video {
     width: 100%;
      /* Adjust for larger screens */
      height: 100%;

  
      display: inline;
  
      /* Adjust if necessary */
      object-fit: cover;
      display: block;

    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(50, 47, 47); /* Choose a color that contrasts well with your video */
      }
}